@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }

li {
    list-style-type: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

h1 {
    color: white;
    font-size: 48px;
}

.nav-flex-container {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 128px;
}

.header-logo-text {
    font-size: 24px;
    font-weight: 900;
}

.header-flex-container {
    display: flex;
}

.main-image {
    max-width: 600px;
}

.flex-image{
    margin-left: auto;
}

.flex-main-info {
    max-width: 500px;
}

.header-li-one {
   margin-left: auto;
}

.header-section {
    background-color: #1F2937;
    padding: 16px 256px 128px 256px;
}

.header-text-description {
    color: white;
    margin: 16px 0;
    font-size: 18px;
}

.header-button {
    margin-top: 16px;
    padding: 8px 24px;
    background-color: #3882f6;
    color: white;
    border: 0;
    border-radius: 10px;
    font-size: 18px;
}

/* INFO SECTION */

.info-section {
    margin-top: 64px;
    margin-bottom: 128px;
}

h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-bottom: 64px;
}

.flex-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.flex-info-child {
    width: 300px;
    text-align: center;
}

.image-info {
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* QUOTE SECTION */

.quote-section {
    background-color: #e5e7eb;
    padding: 128px 256px;
}

h3 {
    font-size: 36px;
    text-align: center;
    font-weight: 400;
}

.quote-author-text {
    text-align: end;
    font-size: 24px;
    font-weight: 900;
}

/* CALL TO ACTION SECTION */

.call-to-action-section {
    background-color: #3882f6;
    margin: 128px 256px;
    padding: 48px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h4 {
    color: white;
    font-size: 24px;
}

.call-to-action-text {
    color: white;
    font-size: 18px;
}

.sign-up-button {
    border: 2px solid white;
    border-radius: 10px;
    padding: 8px 48px;
    font-size: 18px;
    background-color: #3882f6;
    color: white;
    font-weight: 900;
}

/* FOOTER SECTION */

.footer {
    background-color: #1f2937;
}

.footer-text {
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 40px;
}